// Import all of Bootstrap's CSS
@import "bootstrap";

$post_container_width:	768px;

.post{
	&-container{
		max-width: $post_container_width;
	}
}

//
// Navigation
//
.posts-pagination{
	ul{
		@extend .pagination;
		@extend .justify-content-center;
		li{
			@extend .page-item;
			.page-numbers{
				@extend .page-link;
				background-color: rgba($white, .7);
				@extend .border-0;
				@extend .rounded-0;
				@extend .mx-1;
				&:hover{
					@extend .bg-white;
				}
				&.current{
					@extend .bg-primary;
					@extend .text-white;
					&:hover{
						@extend .bg-primary;
						@extend .text-white;
					}
				}
			}
		}
	}
}

//
// Widgets
//
.widget{
	ul{
		@extend .list-unstyled;
	}
}

//
// Comments
//
.comment{
	div[class*="depth"]{
		@extend .ms-5;
		@extend .border-top;
		@extend .border-light;
	}
	&.depth-1{
		@extend .border-bottom;
		@extend .border-secondary;
		&:last-child{
			@extend .border-0;
		}
	}
	&-reply-title{
		@extend .h5;
		small{
			@extend .mx-3;
		}
	}
	&-reply-title{
		@extend .h5;
		@extend .fw-bold;
		@extend .text-secondary;
	}
}
